$primary: #1b5bf7;
$secondary: #464359;
$dark: #18191f;
$opacity: rgba(255,60,0,0.5686274509803921);
$background: #f4f7ff;
$font-color: #464359;
$bg-secondary: #e0e8ff;
$devops: #a8bfff;
$mobile: #dbe5ff;
$infrastructure: #d1dde8;
$frontend: #c6d6ff;
$design: #ced6ee;
$pm: #99b7df;
$testing: #e1e9fe;
$backend: #bddaed;