.dropdown{
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 300px;
  padding: 18px 0;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0 0 0 / 4%), 0 4px 4px rgb(0 0 0 / 8%);
  background-color: #fff;
  list-style-type: none;
  transform: translateX(-50%);
  display: none;

  .disabled{
    display: block;
    padding: 0 24px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(0,0,0,.4);
  }

  .dropdown-item{
    display: block;
    margin-bottom: 8px;

    .dropdown-link{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 8px 11px 8px 34px;
      transition: all .1s ease-in-out;

      &:hover{
        background-color:$primary;
        .text{
          color: #fff;
        }
      }

      .icon{
        display: block;
        margin-right: 24px;
      }

      .text{
        display: block;
        font-size: 13px;
        line-height: 19px;
        font-weight: 400;
        color: #000;
      }
    }
  }
}